<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet"/>
        <link href="../static/styles/custom.css" rel="stylesheet" />
        <title>Lofi Cafe :^)</title>

    </head>

<!-- 
    span is for inline elements, div is for block level elements whatever that means 
TODO:
- make objects responsive (convert px values to %) 
- fix background color (doesn't fill the color for the whole website)
- update the names for classes to be meaningful
- add buttons
- see what images need to be downloaded
- make container to keep the F note with text
- i think there are drop down menu's that we can use 
-->

    <body>

        <div id="top_bar" class="page_section">

            <img id="menu" src="../static/images/menu.png">

        </div>

        <div id="central_title_card" class="page_section">

            <div id="main_title">
                <h1>COZY CAFE</h1>
            </div>

            <div id="sub_title">
                <h2>AI Music Generator</h2>
            </div>

        </div>

        <div id="bottom_bar" class="page_section">

            <div id="bottom_bar1" class="bottom_bar_option bottom_bar_element" >
                <p>Enter A Random Room</p>
            </div>
            <a href="music">
                <div id="bottom_bar2" class="bottom_bar_option bottom_bar_element">
                    <p>Create Own Room</p>
                </div>
            </a>
            <div class="small_info_card bottom_bar_element">
                <ul>
                    <li>Online: 4</li>
                    <li>Room: 1</li>
                </ul>
            </div>

        </div>

        <script src="../static/scripts/main.js"></script>

    </body>

</html>