<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet"/>
        <link href="main.css" rel="stylesheet" />
        <title>Lofi Cafe :^)</title>

</head>

<!-- 
    span is for inline elements, div is for block level elements whatever that means 
TODO:
- make objects responsive (convert px values to %) 
- fix background color (doesn't fill the color for the whole website)
- update the names for classes to be meaningful
- add buttons
- see what images need to be downloaded
- make container to keep the F note with text
- i think there are drop down menu's that we can use 
-->

<body>

    <div class="v27_62">
        
        <span class="v52_12">COZY CAFE</span> 
        <div class="name"></div>

        <div class="v52_18"></div>
        <span class="v52_19">Online: 4</span>
        <span class="v52_20">Room: 1</span>

        <div class="v52_23"></div>

        <a href = music_page.html>
            <span class="v52_24">Enter A Random Room</span>
            <div class="v52_25"></div>
        </a>

        <span class="v52_26">Create Own Room</span>
        <div class="v52_29"></div>

        <span class="v62_16">AI Music Generator </span>
    </div>

</body>

</html>