<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet"/>
        <link href="../static/styles/custom.css" rel="stylesheet" />
        <title>Lofi Cafe :^)</title>

    </head>

    <body>

        <div id="top_bar" class="page_section">

            <img id="menu" src="../static/images/menu.png">

        </div>

        <div id="central_title_card" class="page_section">

            <div id="main_title">
                <h1>COZY CAFE</h1>
            </div>

            <div id="sub_title">
                <h2>AI Music Generator</h2>
            </div>

        </div>

        <div id="bottom_bar" class="page_section">

            <div id="bottom_bar1" class="bottom_bar_option bottom_bar_element" >
                <p>Enter A Random Room</p>
            </div>
            <a href="music">
                <div id="bottom_bar2" class="bottom_bar_option bottom_bar_element">
                    <p>Create Own Room</p>
                </div>
            </a>
            <div class="small_info_card bottom_bar_element">
                <ul>
                    <li>Online: </li>
                    <li>Room: </li>
                </ul>
            </div>

        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>

        <script src="../static/scripts/firebase_init.js" type="module"></script>

        <script src="../static/scripts/main.js" type="module"></script>

    </body>

</html>