<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet"/>
        <link href="../static/styles/music_style.css" rel="stylesheet" />
        <title>Generate Music!</title>
    </head>

    <body>
        <div id="top_bar" class="page_section">

            <img id="menu" src="../static/images/menu.png">

            <div id="main_title">
                <h1>COZY CAFE</h1>
            </div>

            <div id="sub_title">
                <h2>You are in the lo-fi room</h2>
            </div>

        </div>

        <div id="central_title_card" class="page_section">

            <div id="song_cover_container">
                <p>insert image here</p>
            </div>

        </div>

        <div id="bottom_bar" class="page_section">

            <div id="chatbox">
                <input type="text">
            </div>

            <div id="control_panel">
                <img id="previous_button" src="../static/images/previous.png">
                <img id="play_button" src="../static/images/play.png">
                <img src="../static/images/next.png">
            </div>

        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>

        <script src="../static/scripts/firebase_init.js" type="module"></script>

        <script src="../static/scripts/music.js" type="module"></script>

    </body>
</html>