<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="../static/main.css" rel="stylesheet" />
        <title>Generate Music!</title>
    </head>

<!-- 
TODO:
- add images because some are missing like play and pause
- also rename these 
- also fix sizing
- make bars (song progress and volume bar) responsive :o
-->
<body>
    <div class="v17_2">
        <div class="v24_2">
    </div>
    <div class="v24_3"></div>
    <div class="v27_2"></div>
    <div class="v27_3"></div>
    <div class="v27_5"></div>
    <div class="v27_6"></div>
    <div class="v27_45"></div>
    <span class="v27_47">Click here to chat...</span>
    <div class="v37_2"></div>
    <div class="v41_17"></div>
    <span class="v41_18">0:23/5:42</span>
    <span class="v50_11">COZY CAFE</span>
    <div class="name"></div>
    <div class="name"></div>
    </div>
</body>
</html>