<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet"/>
        <link href="../static/styles/music_style.css" rel="stylesheet" />
        <title>Generate Music!</title>
    </head>

    <body>
        <div id="top_bar" class="page_section">

            <img id="menu" src="../static/images/menu.png">

            <div id="main_title">
                <h1>COZY CAFE</h1>
            </div>

            <div id="sub_title">
                <h2>You are in the lo-fi room</h2>
            </div>

        </div>

        <div id="central_title_card" class="page_section">


        </div>

        <div id="bottom_bar" class="page_section">

            <div id="chatbox">
                <input type="text">
            </div>

            <div id="control_panel">
                <img src="../static/images/back.png">
                <img src="../static/images/back.png">
                <img src="../static/images/next.png">
            </div>

        </div>

        <script src="../static/scripts/music.js"></script>

    </body>
</html>